<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-size: 14px;
            text-align: justify;
            line-height: 1.43;
            letter-spacing: normal;
            font-family: Muli;
        }

        .button {
            border-radius: 26px;
        }

        .button a {
            padding: 17px 15px;
            border: 1px solid #57e7d6;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
        }

        .p {
            color: black;
        }
    </style>
</head>

<body>
    <table width="100%" cellpadding="0" border="0" align="center" cellspacing="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tbody>
            <tr>
                <td valign="top" align="center">
                    <table cellpadding="0" border="0" align="center" cellspacing="0" class="logo-img-center">
                        <tbody>
                            <tr>
                                <td valign="middle" align="center" style="line-height: 1px;">
                                    <div style="border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;display:inline-block; "
                                        cellspacing="0" cellpadding="0" border="0">
                                        <div><img width="600" vspace="0" hspace="0" border="0" alt=""
                                                style="float: left;max-width:600px;display:block;" class="rnb-logo-img"
                                                src="<%=asset_url%>banner.png"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>Hi <strong>
                                    <%=first_name%>,
                                </strong></p>
                            <p>Congratulations! Your <%=trial%>-day free trial commences today. We're glad to have you onboard.
                            </p>
                            <p>Here is a summary of your subscription:</p>
                            <p><strong>Subscription Details</strong></p>
                            <p>Plan Name:
                                <%=subscription_plan_name%>
                            </p>
                            <p>Free Trial End Date:
                                <%=end_trial_date%>
                            </p>
                            <p>Payment:
                                AUD $<%=price%> including GST
                            </p>
                          
                            <p><strong>What's next?</strong></p>
                            <p>Please login into the People Profiler admin portal, using your email address and
                                password. Then you'll need to invite the recruitment consultants on your team to People
                                Profiler. Don't worry - it's super easy!
                            </p>
                            <p>If you have any questions, please do not hesitate to contact our support team.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" style="background: linear-gradient(to left, #5c96d4, #24bbce);border-radius: 20px; font-family: Muli;font-size: 14px; ;text-decoration: none;font-weight:bold;
                text-align: center;box-shadow: 0 5px 10px 0 rgba(58, 188, 202, 0.17);">
                    <tr>
                        <td bgcolor="#24bbce" width="100%" style="background: linear-gradient(to left, #5c96d4, #24bbce); padding: 11px 15px; border-radius: 20px; font-family: Muli;font-size: 14px; ;text-decoration: none;font-weight:bold;
                         width: 140px; height: 18px; text-align: center;box-shadow: 0 5px 10px 0 rgba(58, 188, 202, 0.17);">
                            <a href="<%=button_link%>" target="_blank"
                                style="text-decoration:none; color: white;;background-image: linear-gradient(to left, #5c96d4, #24bbce)">
                                Login to Admin Portal
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>We&apos;re proud to be supporting the recruitment industry.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><br></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Sincerely,</p>
                            <p>People Profiler Team</p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>